<!DOCTYPE html>
<html>
<head>
    <title>Abridor de Sites de Loterias</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>
    <div class="container">
        <h1>Abridor de Sites de Loterias</h1>
        <div id="browser-info" class="browser-info"></div>
        
        <section>
            <div id="sites" class="sites-container"></div>
        </section>
    </div>
	
	<footer>Feito por: <i>Márcio Fernando Maia -  Todos os direitos reservado - 2025</footer>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>